.upload-layout{

    width:92%;
    margin:40px auto;

    display:flex;

    flex-direction:column;

    gap:35px;

}

.upload-card{

    width:100%;

}

.analysis-container{

    width:100%;

}

@media(max-width:900px){

    .upload-layout{

        width:95%;

    }

}